* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; width: auto; }
html { color: #f9f3f0;  font-size: 18px; letter-spacing: .1px; }
body { background-color: #140f10; font-family: 'Roboto Slab', serif; font-weight: 300; }
.wrap { margin: auto; position: relative; width: 100%; }
header, main { margin: 0; width: 100%; }
main { min-width: 320px; }
header a { display: block; }
header h1 {display: none;}
section { padding: 1.2em 0; }
section > * { padding: 0 1rem; }
section > img { padding: 0; }
section:not(:last-of-type) { border-bottom: 1px solid #c1bab7; }
h1, h2 { font-weight: 300; letter-spacing: 1px; }
h1 { font-size: 150%; text-align: center; }
h2 { font-size: 115%; margin-top: 1.6em; }
h1 + * { display: block; margin-top: 2em; }
a { color: inherit; text-decoration: none; }
a svg:hover { fill: #f75c54; }
ul, li { list-style: none; margin: 0; padding: 0; }
p { font-size: 88%; line-height: 1.7; }
img { width: 100%; }
.logo { max-height: 58px; max-width: 200px; margin: 0.25em auto 0; }
#about h1 { font-size: 100%; line-height: 1.7; text-align: left; }
#about > p { margin-top: 0; }
.hours, #press, #contact { text-align: center; }
.hours { background-color: #292425; padding: .5em 0; }
.hours p { margin: 1em 0; }
.hours p:first-of-type { font-size: 98%; margin-bottom: .4em; }
.obee-widget { margin-top: 3em; padding: 0; }
#press a,
#contact p:not(.social) a {
  padding-bottom: .1em;
  border-bottom: 1px solid;
}
#reservations p a { border-bottom: 1px solid; }
#press a:hover,
#contact p:not(.social) a:hover, #reservations p a:hover {
  border-bottom: 2px solid #f75c54;
}
#map-pin {
  max-height: 28px;
  max-width: 18px;
  fill: #f75c54;
  width: 0.8em;
  margin: 0 0.2em -0.125em 0;
}
#press img { margin-bottom: 2em; }
#contact img { margin-bottom: 1.2em; }
.social { letter-spacing: .5em; margin-top: 1.2em; }
.social svg {
  max-height: 60px;
  max-width: 60px;
  width: 2.5rem;
  fill: white;
}
#reservations { padding-bottom: 0; }

.copyright { font-size: 80%; padding: 2em 0; text-align: center; }
.copyright p { margin: 0; }

@media (max-width: 599px) {
  html { background-image: none; font-size: calc(1vw + .9em); }
  header { text-align: center; }
  header nav { border-bottom: 1px solid; width: 100%; margin-top: 0; padding: .5em 0; }
  header li { display: inline-block; }
  nav li:first-child { display: none; }
  nav a {
    color: white;
    font-size: 66%;
    letter-spacing: 2px;
    padding: 1em .3em;
    text-transform: uppercase;
  }

  /*wedge over bottom of header image - start*/
  .wrap { overflow: hidden; }
  main { position: relative; }
  main::before {
    background: #140F10;
    content: '';
    display: block;
    height: 2.2em;
    width: 120%;
    -webkit-transform: rotate(3.5deg);
        -ms-transform: rotate(3.5deg);
            transform: rotate(3.5deg);
    position: absolute;
    top: -1.34em;
    left: -1em;
  }
  /*wedge over bottom of header image - end*/

  #up {
    background-color: #111;
    opacity: .7;
    text-align: center;
    line-height: 1.25;
    border: 1px solid;
    position: fixed;
    bottom: .5em;
    right: .6em;
    width: 1em;
    height: 1em;
    font-size: 1.5em;
  }
}

@media (min-width: 600px) {
  html { font-size: calc(1vw + .45em); }
  body {
    background-image: url(https://www.transparenttextures.com/patterns/soft-circle-scales.png);
    background-attachment: fixed;
    background-color: #191d25;
  }
  .wrap { width: 100%; margin: auto; max-width: 1400px; }
  header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 45%;
    background: url(img/storefront.jpg) no-repeat;
    background-position: left 20%;
    background-size: cover;
  }
  header nav { position: relative; z-index: 1; }
  header img { display: none; }
  .logo { display: none; }
  nav { display: inline-block; margin: 2.5em 0 0 1.5em; }
  nav a { padding: .5em 1em; }
  nav a::before {
    content: '\2771';
    opacity: 0;
    padding-right: 0.25em;
  }
  nav a:hover::before { opacity: 1; }
  main {
    background-color: rgb(14,10,10);
    margin: 0 0 0 45%;
    position: relative;
    width: 55%;
    z-index: 1;
  }
  #about h1 { margin-top: 1.5em; }
  #up { display: none; }
}

/* set a hard limit of 500px on main */
@media (min-width: 920px) {
  header {
    width: calc(100% - 500px);
  }
  main {
    margin: 0 0 0 calc(100% - 500px);
    width: 500px;
  }
}

@media (min-width: 1100px) {
  header {
    background-position: left 60%;
  }
}

@media (min-width: 1400px) {
  html { font-size: 1.325em; }
}
