* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; width: auto; }
html { background-color: #10171E; color: #ECF0F1;  font-size: 18px; letter-spacing: .1px; }
body { font-family: 'Roboto Slab', serif; font-weight: 300; }
header, main { margin: 0; width: 100%; }
main { min-width: 320px; max-width: 500px; }
header a { display: block; }
header h1 {display: none;}
section { padding: 1.2em 0; }
section > * { padding: 0 1rem; }
section > img, section > .img { padding: 0; }
section:not(:first-child):not(:last-child) { border-bottom: 1px solid; }
h1, h2 { font-weight: 400; letter-spacing: 1px; }
h1 { font-size: 134%; text-align: center; }
h2 { font-size: 100%; margin-top: 1.6em; }
h1 + * { display: block; margin-top: 2em; }
a { color: inherit; text-decoration: none; }
ul, li { list-style: none; margin: 0; padding: 0; }
p { font-size: 88%; line-height: 1.7; }
img { width: 100%; }
.logo {
  max-width: 200px;
  margin: 0.25em auto 0em;
}
#about h1 { font-size: 88%; line-height: 1.7; text-align: left; font-weight: 300;}
#about > p {margin-top: 0;}
.hours, #press, #contact { text-align: center; }
.hours { background-color: #1D2932; padding-bottom: 2em; }
.hours p { margin: 0; }
.hours p:first-of-type { font-size: 82%; margin-bottom: .4em; }
.obee-widget { margin-top: 3em; padding: 0; }
#press a,
#contact p:not(.social) a {
  padding-bottom: .1em;
  border-bottom: 1px solid;
}
#press img { margin-bottom: 2em; }
#contact img { margin-bottom: 1.2em; }
.social { letter-spacing: .5em; margin-top: 1.2em; }
.social svg {
  width: 2.5rem;
  fill: white;
}
#reservations { padding-bottom: 0; }

.copyright { font-size: 80%; padding: 2em 0; text-align: center; }
.copyright p { margin: 0; }

@media (max-width: 499px) {
  html { background-image: none; font-size: calc(1vw + 1.24em); }
  header { text-align: center; }
  header nav { border-bottom: 1px solid; width: 100%; margin-top: 0;}
  header li { display: inline-block; }
  nav a {
    font-size: 70%;
    font-weight: bold;
    padding: 1em .3em 1.5em;
    text-transform: uppercase;
  }
}

@media (min-width: 500px) {
  html {
    background: url(img/storefront.jpg) no-repeat center center fixed;
    background-size: cover;
    font-size: calc(1vw + .6em);
  }
  header {
    display: inline-block;
    position: fixed;
    top: 2.5em;
    left: 1.6em;
    width: auto;
  }
  header img {
    display: none;
  }
  .logo {
    display: none;
  }
  nav a {
    padding: .5em 1em;
  }
  main {
    position: absolute;
    top: calc(4vh + 2vw);
    right: calc(3vh + 2vw);
    width: 54%;
    max-width: 20em;
    background-color: #111;
    opacity: .9;
  }
}

/* raise the background so people aren't cut off at the neck */
@media (min-width: 900px) {
  html { background-position: center 55%; }
}
